@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap');

:root {
    --clr-light-grey: #5C5C5C;
    --clr-primary-blue: #54D4D4;
    --clr-light-blue-focus: #48b9c7;
    --ff-primary: 'Poppins', sans-serif;
    --clr-valid-theme : green;
    --clr-invalid-theme : red;

    --clr-gradient: linear-gradient(234.06deg, #54D4D4 7.16%, #149DE1 76.12%);

    --box-shadow: 0px 8px 16px 6px rgba(105, 105, 105, 0.15);
    --gradient-blue: linear-gradient(180deg, #54D4D4 0%, #149DE1 100%);
    --default-padding: 1em 5em;

}

.grid__container {
	display: grid;
	padding: var(--default-padding);
	grid-template-columns: 1fr auto;
}

.categories__container {
	display: flex;
	flex-direction: column;
	padding: 1em .5em;
	/* margin-top: 5em; */
	width: 15em;
	border: solid 1px var(--clr-light-grey);
	border-radius: 8px;
	position: sticky;
	top: 8em;
	left: 4em;
    z-index: 3;
}

.category__title {
    color: #858585;
    font-weight: 500;
    text-transform: capitalize;
    border-bottom: solid 1px #858585;
    margin-bottom: 1.5em;
}

.category {
    padding: .5em;
}


.active__category {
    background: var(--gradient-blue);
    color: white;
    box-sizing: border-box;
    border-radius: 8px;
}

.active__category:hover {
    color: var(--clr-light-grey);
    background: transparent;
    border: solid 1px var(--clr-dark-grey);
}

/* MAIN SECTION FOR GIVEN CATEGORY */
.categories__content__container {
	max-width: 80%;
	margin-left: 18em;
	margin-top: -14em;
}